# https://www.kernel.org/pub/software/scm/git/docs/git-shortlog.html#_mapping_authors
Neil Bowers <neil@bowers.com> neilbowers <neil@bowers.com>
Adam Kennedy <adamk@cpan.org> adam <adam@88f4d9cd-8a04-0410-9d60-8f63309c3137>
Adam Kennedy <adamk@cpan.org> adamk@cpan.org <adamk@cpan.org@88f4d9cd-8a04-0410-9d60-8f63309c3137>
Alexandr Ciornii <chorny@cpan.org> chorny@cpan.org <chorny@cpan.org@88f4d9cd-8a04-0410-9d60-8f63309c3137>
Olivier Mengué <dolmen@cpan.org> dolmen@cpan.org <dolmen@cpan.org@88f4d9cd-8a04-0410-9d60-8f63309c3137>
Ingy döt Net <ingy@ingy.net> ingy@cpan.org <ingy@cpan.org@88f4d9cd-8a04-0410-9d60-8f63309c3137>
Ingy döt Net <ingy@ingy.net> ingy@ingy.net <ingy@ingy.net@88f4d9cd-8a04-0410-9d60-8f63309c3137>
James E Keenan <jkeenan@cpan.org> jkeenan <jkeenan@cpan.org>
James E Keenan <jkeenan@cpan.org> Jim Keenan <jkeenan@cpan.org>
Neil Bowers <neil@bowers.com> neilbowers <neil@bowers.com>
 יובל קוג'מן (Yuval Kogman) <nothingmuch@woobling.org> nuffin@cpan.org <nuffin@cpan.org@88f4d9cd-8a04-0410-9d60-8f63309c3137>
Steffen Müller <smueller@cpan.org> smueller@cpan.org <smueller@cpan.org@88f4d9cd-8a04-0410-9d60-8f63309c3137>
Karen Etheridge <ether@cpan.org> Karen Etheridge <github@froods.org>
